
<div>
<center><%#= asset_path('fgen.jpg') %></center>
</div>
<!--

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/fgen.jpg" alt="Fortune General Insurance Corporation">
    </div>
  </div>
</div> -->
